// Not using currently
.banner {
    position: fixed;
    background-color: rgba(200, 120, 120, 0.9);
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 200;
    color: white;
    padding: 8px 0px;
    font-size: 16px;
    font-family: "fira";
    box-shadow: 1px 3px 13px rgba(100, 100, 100, 0.6);

    b {
        font-family: "firaMedium";
    }

    a {
        color: white;
        text-decoration: underline;
    }
}