// @font-face styling for fira borrowed from: http://www.carrois.com/en/fira-3-1/
@font-face {
  font-family: 'firaMono';
  src: url('fonts/eot/FiraMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraMono-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraMono-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'firaMono';
  src: url('fonts/eot/FiraMono-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraMono-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraMono-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'fira';
  src: url('fonts/eot/FiraSans-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-Light.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira';
  src: url('fonts/eot/FiraSans-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'fira';
  src: url('fonts/eot/FiraSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'fira';
  src: url('fonts/eot/FiraSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'firaRegular';
  src: url('fonts/eot/FiraSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'firaRegular';
  src: url('fonts/eot/FiraSans-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-RegularItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-RegularItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'firaMedium';
  src: url('fonts/eot/FiraSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-Medium.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'firaMedium';
  src: url('fonts/eot/FiraSans-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/eot/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/woff/FiraSans-MediumItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}