a:link {
  color: #d14;
  text-decoration: none;
}

a:visited {
  color: #d14;
  text-decoration: none;
}

a:hover {
  color: #d14;
  text-decoration: underline;
}

a:active {
  color: #d14;
  text-decoration: none;
}