
#side-nav{
    position: fixed;
    left: 50px;
    top: 100px;
    width: 50px;
    background-color:eee;
    text-align:center;
}




.closeBtn{
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    padding:15px;
}

.side-nav-button{
    font-size: 30px;
    color: #0088cc;
    cursor: pointer;
    font-size: 2.5em;
    float: left;
    clear: left;
    padding-bottom: 0.4em;

}

#toc {
    position: fixed;
    left: -450px; 
    top: 50px;
    width: 250px;  
    max-height: 80%;  
    z-index: 1;  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left:1em;
    padding-right:1em;

    overflow: auto;
    border: 1px solid #ccc;
    background: #fff;  

}
#chapters {
    position: fixed;
    left: -450px; 
    top: 50px;
    width: 250px;  
    max-height: 80%;   
    background-color:#fff; 
    z-index: 1; 
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left:1em;
    padding-right:1em;

     overflow: auto;
    border: 1px solid #ccc;
    background: #fff;  

}
#bookInfo {
    position: fixed;
    left: -450px; 
    top: 50px;
    width: 250px;  
    max-height: 80%;  
    z-index: 1;  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left:1em;
    padding-right:1em;

    overflow: auto;
    border: 1px solid #ccc;
    background: #fff;  
}

#chapter {
    float: none;
    margin: 0 auto;
}


/*
    @font-face styling for fira borrowed from: http://www.carrois.com/en/fira-3-1/
*/
@font-face {
    font-family: 'firaMono';
    src: url('fonts/eot/FiraMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraMono-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraMono-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'firaMono';
    src: url('fonts/eot/FiraMono-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraMono-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraMono-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'fira';
    src: url('fonts/eot/FiraSans-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira';
    src: url('fonts/eot/FiraSans-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'fira';
    src: url('fonts/eot/FiraSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'fira';
    src: url('fonts/eot/FiraSans-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: italic; 
}
@font-face {
    font-family: 'firaRegular';
    src: url('fonts/eot/FiraSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'firaRegular';
    src: url('fonts/eot/FiraSans-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-RegularItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-RegularItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'firaMedium';
    src: url('fonts/eot/FiraSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'firaMedium';
    src: url('fonts/eot/FiraSans-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/eot/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/woff/FiraSans-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;
}

/* 
	Border box sizing for all elements
	I've found -ms-box-sizing is necessary for IE 11
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
  	      box-sizing: border-box;
 }

/* Table of Contents - Toxify */

p, li {
    font-family: 'fira'; 
    font-style: normal; 
    font-weight: normal;
    font-size: 15px; 
    text-rendering: optimizeLegibility; 
    letter-spacing:0.02em;
    line-height: 1.6em;
}


#toc ul { 
	list-style: none !important; 
}
#toc li { 
    padding-left: inherit; 
    text-indent: inherit;
}
#toc li a { 
    /* has to be applied directly to the a element */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#toc li.active { 
    background-color:#ddd;
    font-weight: bold;
}


#chapters ul { 
    padding-left: 0;
    list-style: none !important; 
}
#chapters .group {
    padding-left: 0;
    text-indent: 0px; 
}
#chapters li {
    padding-left: 0;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
#chapters li.selected { 
    font-weight: bold;
}



p {
	margin: 0;
	padding: 11px 0;
}

strong {
	font-style: normal;
}

#chapter{
    max-width: 650px;
    width: 80%;
}

.chapterTitle {
    font-family: 'fira'; 
    font-style: normal; 
    font-size: 55px; 
    line-height: 0.8em;
    text-rendering: optimizeLegibility;
    margin-top:1.4em;
    letter-spacing:-0.015em;
    border:0px;
    border-bottom:3px;
    border-style: solid; 
    border-color: #cccccc;
}

.author {
    font-family: 'firaRegular'; 
    font-style: italic; 
    font-size: 25px; 
    line-height: 0.8em;
    text-rendering: optimizeLegibility;
    margin-bottom:2.8em;
}

h1 {
    font-family: 'firaMedium'; 
    font-style: normal; 
    font-size: 50px; 
    text-rendering: optimizeLegibility;
    margin-top:1.5em;
    margin-bottom:0.7em;
    font-weight: 300;
}

h2 {
    font-family: 'firaMedium'; 
    font-weight: normal; 
    font-style: italic;
    font-size: 32px; 
    text-rendering: optimizeLegibility;
    margin-top:1.4em;
    margin-bottom:0.7em;
   /* border:0px;
    border-bottom:3px;
    border-style: solid; */
    /*border-width: 1;*/ 
    border-color: #cccccc;
}

h3 {
    font-family: 'firaMedium'; 
    font-weight: normal; 
    font-size: 20px; 
    text-rendering: optimizeLegibility; 
    margin-top:2.8em;
    margin-bottom:1.4em;
    letter-spacing: 0.025em;
}

h4 {
    font-family: 'fira'; 
    font-style: italic; 
    font-weight: normal; 
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    margin-top:2.8em;
    margin-bottom:1.4em;
}


/* 
	Inline code styling
	At the moment, this override bootstrap styling. 
*/
code {
    background-color: inherit;
    border: none;
    color: inherit; /* By inheriting color, we allow hyperlinking coloring */
  	/*font-family: 'firaMono';
    font-size: 12px;*/
    font-style: normal;
    line-height: inherit;
    padding: 0;
    text-rendering: normal;
    white-space: nowrap;
}


/* 
	Fenced off code block look like this: <pre><code></code></pre>
	Fenced code inherits styling from code styling above, as well as 
	from pre styling (both below and in bootstrap).
*/

pre {
	font-family: Menlo, Consolas, "Courier New", Monaco, monospace;
    font-size: 13px;
    tab-size: 4;
    border: none; !important;
    border-radius:0px; !important;
    white-space: pre-wrap;
    margin: 0;
	padding: 13px 0;
}

pre code {
    border-left: 6px solid rgba(0,83,159,.65);
    position: relative;
    width: 650px;
    left: 0px;
    padding: 20px; !important;
    background-color: #f5f5f5;
    color: inherit;
    display: inherit; /* required so that pad effects all of the block */
    line-height: inherit;
    text-rendering: normal;
    white-space: inherit;
}


/* Hyperlink styling */

a:link {
	color: #d14; 
	text-decoration: none;
}

a:visited {
	color: #d14;
	text-decoration: none;
}

a:hover {
	color: #d14; 
	text-decoration: underline;
}

a:active {
	color: #d14; 
	text-decoration: none;
}


/* Styling of images and their captions */

.figure {
	padding: 13px 0;
	width: 100%;
	text-align: center;
}

.figure img {
	max-width: 100%; max-height: 100%;
}

.caption {  
    color: #7A7A7A;
    font-family: "firaRegular";
    font-size: 14px;
    font-style: italic;
    line-height: 2em;
    text-align: center;
}





/*
	I believe all of the below are classes that Andy and Ishac were using to prototype 
	early design work. None of it applies to the code that is generated by pandoc.
*/

.codeBox {
    font-family: 'firaMono';  !important;
    font-style: normal;  !important;
    font-size: 15px; !important;
    padding-left:10px; !important;
    padding-right: 15px; !important;
    margin-top: 25px; !important;
    margin-bottom: 25px; !important;
    padding-top: 2px; !important;
    padding-bottom: 2px; !important;
    /*border-style: solid; 
    /*border-width: 1; 
    border-color: #aaaaaa;*/
    background-color: #eeeeee; !important;
    border-radius:3px; !important;


}
.quoteBox {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    margin-left:40px;
    margin-right:40px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid; 
    border-width: 1; 
    border-color: #cccccc;
    border-radius:3px}
.note {
    width: 300;
    font-family: 'firaRegular'; 
    font-size: 12px;
    line-height: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #C5C5C5;
    float: right;
    text-align:right;
    border-top: 1px solid #C5C5C5;}  
.note a{
  text-decoration:none;
  color: #939393;
}
.output {
  width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.output img{
    /* this is for images without caption, full width 
    like screenshots of OF sketches*/  
  max-width: 650px;
  height: auto;
}